    p.p1 {text-align: center; margin: 10.0px 0.0px 5.0px 0.0px; font: 16.0px 'Avenir Next'; color: #000000}
    p.p2 {margin: 10.0px 0.0px 0.0px 0.0px; font: 14.0px 'Avenir Next'; color: #000000}
    p.p3 {margin: 0.0px 0.0px 0.0px -4.0px; font: 14.0px 'Avenir Next'; color: #000000}
    p.p4 {margin: 5.0px 0.0px 0.0px 0.0px; font: 12.0px 'Avenir Next'; color: #000000}

    p.p5 {text-align: center; margin: 0.0px 0.0px 3.0px 0.0px; font: 12.0px 'Avenir Next'; color: #000000}
    p.p6 {text-align: center; margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px 'Avenir Next'; color: #000000}

    p.p7 {margin: 0.0px 0.0px 0.0px 40.0px; text-indent: -10.0px; font: 12.0px 'Avenir Next'; color: #000000}


    li.li1 {margin: 0.0px 0.0px 3.0px 20.0px; font: 12.0px 'Avenir Next'; color: #000000}
    li.li2 {margin: 0.0px 0.0px 3.0px 0.0px; font: 12.0px 'Avenir Next'; color: #000000}
    li.li3 {margin: 3.0px 0.0px 3.0px 20.0px; font: 12.0px 'Avenir Next'; color: #000000}
    span.s1 {font-kerning: none}
    span.s2 {font: 39.8px Helvetica}
    span.s3 {font: 20px Helvetica Bold}
    span.s4 {font: 12px Helvetica; color: #000000}
    span.Apple-tab-span {white-space:pre}
    ul.ul1 {list-style-type: disc}
    caption {color: #000000}
